.box {
  width: 100%;
  height: 80vh;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10vh 0;
  z-index: 100;
}

.navBox {
  top: calc(5vh - 1rem);
  right: 1rem;
  position: absolute;
  gap: 1rem;
  display: flex;
  align-items: center;
  color: lightgray;
}

.navBox svg {
  cursor: pointer;
  font-size: 2rem;
}

.navBox svg:hover {
  color: white;
}

.box section {
  background: var(--line);
  height: calc(100% - 10vh);
  display: grid;
  padding: 5vh;
}

.box section div {
  position: relative;
}

@media all and (max-width:1050px) {
  .box {
    width: 100%;
    height: 60vh;
    padding: 20vh 0;
  }

  .navBox {
    right: 50%;
    transform: translateX(50%);
  }

  .box section {
    height: calc(100% - 4vh);
    padding: var(--hSpace);
  }
}