.cartBox {
  position: fixed;
  top: 0;
  width: 340px;
  height: 100vh;
  padding: 3vh 25px;
  background: white;
  z-index: 2000;
  display: flex;
  gap: 3vh;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  transition: 0.4s ease;
  right: -350px;
}

.cartBox.change {
  right: 0;
}

.cartBox header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cartBox header strong {
  font-size: 1.3rem;
}

.cartBox header svg {
  cursor: pointer;
  font-size: 1.2rem;
}

.cartBox ul {
  flex: 1;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 3vh;
}


.sheet {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.492);
  position: fixed;
  top: 0;
  z-index: 1000;
  transition: 0.3s ease;
  right: -100%;
}

.sheet.change {
  right: 0;
}

.cartBox hr {
  width: 100%;
  border-top: 1px solid var(--line);
}

.cartBox footer {
  display: grid;
  gap: 1.5vh;
}

.cartBox footer p {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
}

.cartBox footer p strong:nth-child(2) {
  color: var(--pass);
}

.cartBox footer a {
  padding: 8px;
}

.cartBox footer .view {
  border: 1px solid var(--line);
  color: black;
  text-align: center;
}

.cartBox footer .checkout {
  background: var(--pass);
  color: white;
  text-align: center;
}

@media all and (max-width:850px) {
  .cartBox {
    width: 75%;
    padding: 3vh 5%;
    right: -85%;
  }
}