@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  scroll-behavior: smooth;
  font-family: 'Pacifico', cursive;
  font-family: "Open Sans", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "poppins", sans-serif;
  font-family: "Manrope", sans-serif;
  /* font-family: "New Amsterdam", sans-serif; */
}

.logoTitle {
  font-family: 'DessauPro';
}

#digit {
  font-family: 'Pacifico', cursive;
  font-family: "poppins", sans-serif;
}

:root {
  --bg: #252525;
  --theme: #f8233a;
  --pass: #0cd570;
  --line: #EBEBEB;
  --text: rgb(100, 100, 100);

  --wide: 85%;
  --vSpace: 5vh;
  --sides: 10%;
}


body::-webkit-scrollbar {
  width: 8px;
  border-radius: 100px;
  background: lightgray;
}

body::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: darkgray;
}

main {
  display: grid;
  gap: 3vh;
}

#noBar::-webkit-scrollbar {
  display: none;
}

#miniBar::-webkit-scrollbar {
  width: 5px;
  border-radius: 100px;
  background: lightgray;
}

#miniBar::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background: darkgray;
}

.caps {
  /* font-family: 'Pacifico', cursive; */
  font-family: "Bangers", system-ui;
  font-weight: 400;
  font-size: 1.5rem;
}

.big {
  font-family: 'Bebas Neue', cursive;
  font-weight: 400;
}

.cover {
  object-fit: cover;
}

.contain {
  object-fit: contain;
}

.animate-spin {
  border: none !important;
  font-size: 1.3rem;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#divider {
  width: 100%;
  border-top: 2px solid var(--line);
}


#hor,
#topNav {
  padding-right: var(--sides);
  padding-left: var(--sides);
}

#topNav header {
  /* background: salmon; */
  padding: 0 !important;
}


/* input,
select,
option {
  font-family: 'Poppins', Arial, sans-serif;
} */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -moz-appearance: textfield;
  appearance: textfield;
  -webkit-appearance: none;
  margin: 0;
}

.items {
  display: grid;
  width: 100%;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.relative {
  position: relative;
}

#items250 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

#items200 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

@media all and (max-width:1300px) {
  .items {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

  :root {
    --wide: 90%;
    --vSpace: 2.5vh;
    --sides: 5%
  }

  #miniBar::-webkit-scrollbar {
    display: none;
  }
}

@media all and (max-width:1050px) {
  #items250 {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }


  #items200 {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }

}

@media all and (max-width:850px) {
  main {
    gap: 4vh;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;